<% include ../partials/header %>

    <div id="myContainer" class="container">

        <div class="row">
            <!-- This column contains the image for a particular goshuin -->
            <div class="col-sm-12 col-md-9 bg-light">
                <div id="myImageContainer" class="bg-dark">
                    <img id="myShowPageImage" class="mx-auto d-block img-fluid" src="<%= goshuin.image %>" alt="A goshuin image">
                </div>
            </div>
            
            <!-- This column contains the details for a particular goshuin -->
            <div class="col-sm-12 col-md-3 bg-light">
                <h4><%= goshuin.shrineOrTempleName %></h4>
                <h5><%= goshuin.generalLocation %>, <%= goshuin.prefecture %>.</h5>
                <p>
                    <%= goshuin.comment %>
                </p>
                <!-- User options for the document -->
                <div class="btn-group">
                    <form class="btn-group d-inline" action="/goshuins/<%= goshuin._id %>?_method=delete" method="POST">
                        <button class="btn btn-info btn-sm">Delete</button>
                    </form>
                    <a class="btn-group" href="/goshuins/<%= goshuin._id %>/edit/">
                        <button class="btn btn-info btn-sm">Edit</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- This row contains the comments for a particular goshuin -->
        <div class="row">
            <div class="col-12 bg-light">
                <h5>Comments</h5>
                    <a href="/goshuins/<%= goshuin._id %>/comments/new">
                        <button class="btn btn-info">Would you like to leave a comment?</button>
                    </a>
                <hr>
                <!-- This forEach loop iterates over the userComments array -->
                <% goshuin.userComments.forEach(function(comment){ %>
                    <div>
                        <h6 class="d-inline"><%= comment.commentAuthor.username %></h6>
                        <p class="d-inline text-secondary myComment"><%= comment.date.toDateString() %></p>
                        <p><%= comment.comment %></p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
